.button-container,
.button-container-question {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-light);
  position: relative;
  border: none;
  margin-left: 2.3rem;
  margin-right: 2.3rem;
}

.button-container {
  width: 21rem;
  height: 4.5rem;
  cursor: pointer;
}

.button-container-question {
  width: 42.5rem;
  height: 8.5rem;
}
.button-container::before,
.button-container::after,
.button-container-question::before,
.button-container-question::after {
  content: "";
  position: absolute;
}

.button-container::before,
.button-container::after {
  border-top: 2.3rem solid transparent;
  border-bottom: 2.3rem solid transparent;
}

.button-container-question::before,
.button-container-question::after {
  border-top: 4.3rem solid transparent;
  border-bottom: 4.3rem solid transparent;
}

.button-container::before {
  top: 0;
  left: -2.2rem;
  border-right: 2.3rem solid var(--blue-light);
}

.button-container-question::before {
  top: 0;
  left: -4.2rem;
  border-right: 4.3rem solid var(--blue-light);
}

.button-container::after {
  top: 0;
  right: -2.2rem;
  border-left: 2.3rem solid var(--blue-light);
}

.button-container-question::after {
  top: 0;
  right: -4.2rem;
  border-left: 4.3rem solid var(--blue-light);
}

.button-container:hover {
  background-color: var(--blue-hover);
  transition: all 0.1s;
}
.button-container:hover::after {
  border-left-color: var(--blue-hover);
  transition: all 0.1s;
}
.button-container:hover::before {
  border-right-color: var(--blue-hover);
  transition: all 0.1s;
}
.button,
.button-question {
  position: relative;
  background-color: var(--blue);
  color: white;
  display: flex;
  align-items: center;
}

.button {
  width: 20.5rem;
  height: 4rem;
  transition: all 0.3s;
}

.button-question {
  width: 42rem;
  height: 8rem;
  justify-content: center;
}

.button::before,
.button::after,
.button-question::before,
.button-question::after {
  content: "";
  position: absolute;
}

.button::before,
.button::after {
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
  transition: all 0.3s;
}

.button-question::before,
.button-question::after {
  border-top: 4.05rem solid transparent;
  border-bottom: 4.05rem solid transparent;
}

.button::before {
  z-index: 1;
  top: 0;
  left: -2rem;
  border-right: 2rem solid var(--blue);
}
.button-question::before {
  z-index: 1;
  top: 0;
  left: -3.9rem;
  border-right: 4rem solid var(--blue);
}
.button::after {
  z-index: 1;
  top: 0;
  right: -2rem;
  border-left: 2rem solid var(--blue);
}
.button-question::after {
  z-index: 1;
  top: 0;
  right: -3.9rem;
  border-left: 4rem solid var(--blue);
}
.correct {
  animation: CorrectAnswer1 3s forwards;
}
.correct::before,
.correct::after {
  animation: CorrectAnswer2 3s forwards;
}
.incorrect {
  animation: IncorrectAnswer1 3s forwards;
}
.incorrect::before,
.incorrect::after {
  animation: IncorrectAnswer2 3s forwards;
}
.button p {
  font-size: 1.5em;
}
.button-question p {
  font-size: 2em;
}

@keyframes CorrectAnswer1 {
  20% {
    background-color: var(--blue);
  }
  30% {
    background-color: var(--green);
  }
  40% {
    background-color: var(--blue);
  }
  50% {
    background-color: var(--green);
  }
  60% {
    background-color: var(--blue);
  }
  70% {
    background-color: var(--green);
  }
  80% {
    background-color: var(--blue);
  }
  100% {
    background-color: var(--green);
  }
}
@keyframes CorrectAnswer2 {
  20% {
    border-right-color: var(--blue);
    border-left-color: var(--blue);
  }
  30% {
    border-right-color: var(--green);
    border-left-color: var(--green);
  }
  40% {
    border-right-color: var(--blue);
    border-left-color: var(--blue);
  }
  50% {
    border-right-color: var(--green);
    border-left-color: var(--green);
  }
  60% {
    border-right-color: var(--blue);
    border-left-color: var(--blue);
  }
  70% {
    border-right-color: var(--green);
    border-left-color: var(--green);
  }
  80% {
    border-right-color: var(--blue);
    border-left-color: var(--blue);
  }
  100% {
    border-right-color: var(--green);
    border-left-color: var(--green);
  }
}
@keyframes IncorrectAnswer1 {
  20% {
    background-color: var(--blue);
  }
  30% {
    background-color: var(--red);
  }
  40% {
    background-color: var(--blue);
  }
  50% {
    background-color: var(--red);
  }
  60% {
    background-color: var(--blue);
  }
  70% {
    background-color: var(--red);
  }
  80% {
    background-color: var(--blue);
  }
  100% {
    background-color: var(--red);
  }
}
@keyframes IncorrectAnswer2 {
  20% {
    border-right-color: var(--blue);
    border-left-color: var(--blue);
  }
  30% {
    border-right-color: var(--red);
    border-left-color: var(--red);
  }
  40% {
    border-right-color: var(--blue);
    border-left-color: var(--blue);
  }
  50% {
    border-right-color: var(--red);
    border-left-color: var(--red);
  }
  60% {
    border-right-color: var(--blue);
    border-left-color: var(--blue);
  }
  70% {
    border-right-color: var(--red);
    border-left-color: var(--red);
  }
  80% {
    border-right-color: var(--blue);
    border-left-color: var(--blue);
  }
  100% {
    border-right-color: var(--red);
    border-left-color: var(--red);
  }
}
