.countdown {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--blue-light);
  font-weight: 600;
  font-size: 1.6em;
  cursor: default;
  background-color: var(--blue);
  border: 0.3rem solid var(--blue-light);
  border-top: none;
  transform: translateY(-4rem);
  animation: countTrans 3s forwards;
}

.countdown.danger {
  background-color: var(--red);
  color: white;
}

@keyframes countTrans {
  60% {
    transform: translateY(-4rem);
  }
  100% {
    transform: translateY(0);
  }
}
