.joker {
  position: absolute;
  left: 5rem;
  top: 1rem;
  width: 35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: translateX(-40rem);
  animation: transcomodin 3s forwards;
}

@keyframes transcomodin {
  60% {
    transform: translateX(-40rem);
  }
  100% {
    transform: translateX(0);
  }
}
